
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fff !important;
    font-family: 'Noto Sans JP', sans-serif !important;
    color: #A3A5B5;
    overflow-x: hidden;
}
.navbar-div .navbar{
    padding-top:5vw;
    padding-left: 5vw;
}
.navbar-nav{
    margin-left: 65vw;
}
.landing-div {
    margin-top: 12.5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}
.landing-div .landing-div-header h1{
    margin-top: 5vw;
    font-weight: 900;
    font-size: 7.5vw;
    color: #12143F;
    position: absolute;  
}
.landing-div .landing-div-header h4{
    font-weight: 400;
    margin-top: 2vw;
    color: #5383E7;
    letter-spacing: 1px;
    font-size: 1.5vw;
    position: absolute;
}
.landing-div .landing-div-header p{
    font-weight: 300;
    margin-top: 17.5vw;
    position: absolute;
    margin-left: .5vw;
}
.landing-div .btn{
    margin-top:25vw;
    margin-left: 1.5vw;
    position: absolute;
    color: #fff !important;
    background-color: #5383E7;
    font-weight: 400;
    font-size: 1.5vw;
    width: 15vw;
    border-radius: 10vw;
    transition: all 0.5s ease;
    height: 4.5vw;
}
.landing-div .btn:hover{
    transform: translateY(-5px);
}
.img-div{
    background: url('https://images.pexels.com/photos/1164778/pexels-photo-1164778.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    border-radius: 3.5vw;
    height: 50vw;
    width: 35vw;
    position: absolute;
    margin-top: -10vw;
    margin-left: -2.5vw;
}
.circle{
    width: 0.5px;
    height: 0.5px;
    padding: 0.25vw;
    background: #12143F;
    margin-top:1.5vw;
    margin-left:1.5vw;
    border-radius: 100%;
}
.square-dot-div{
    animation: move-up 2s infinite ease;
    transition: all 2s ease;
    position: absolute;
    margin-left: -9.5vw;
    margin-top:-15vw;
    z-index: -2;
    width: 17.5vw;
}
@keyframes move-up {
    0%,100%{
        transform: translateX(0);
    }
    50%{
        transform: translateY(-10px);
    }
}
.circle-cont{
    position: absolute;
    height: 15vw;
    width: 15vw;
    z-index: -2;
    margin-top:30vw;
    margin-left: 25vw;
    padding:10px;
    border-radius: 100%;
    background:#A1B9EA;
}
.model-div{
    margin-top: 55vw;
}
.model-div h2,h4{
    text-align: center;
}
.model-div h4{
    color: #5383E7;
}
.model-div h2{
    color: #12143F;
    font-size: 5vw;
    font-weight: 700;
}
.model-div .row{
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    margin-top: 5vw;
}
.model-div .card{
    background-color: transparent;
    border: 0;
    padding: 1vw;
    border-radius: 10px;
}
.model-div .row .card .fa{
    font-size: 3.5vw;
    text-align: center;
    margin-top: 5vw;
    color: #12143F;
}
.model-div .card h5{
    text-align: center;
    margin-top: 2vw;
    color: #12143F;
}
.model-div .card p{
    margin-top: 1.5vw;
    text-align: center;
}
.about-div{
    margin-top: 15vw;
}
.about-div .col-sm-7{
    padding-left: 15vw;
}
.about-div h4{
    position: absolute;
    color:#5383E7;
}
.about-div h2{
    color: #12143F;
    font-weight: 700;
    margin-top: 2.5vw;
    font-size: 3.5vw;
}
.about-div ul {
    display: flex;
    color: #12143F;
}
.about-div .about-list{
    margin-top: 3.5vw;
}
.about-div ul li:nth-child(1){
    margin-right: 5vw;
}
.about-div .btn
{
    width: 10vw;
    background: #5383E7;
    color: #fff;
    border-radius: 10vw;
    height: 4.5vw;
    font-size: 1.5vw;
    width: 15vw;
    margin-top: 2.5vw;
    margin-left: 2.5vw;
    transition: all 0.5s ease;
}
.about-div .btn:hover{
    transform: translateY(-5px);
}
.about-div .img-div-1{
    width: 15vw;
    height: 15vw;
    border-radius: 2.5vw;
    position: absolute;
    background: url('https://images.pexels.com/photos/1128527/pexels-photo-1128527.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    box-shadow:  20px 20px 60px #c1c1c1,
             -20px -20px 60px #ffffff;
    margin-left: 5vw;
    margin-top: -5vw;
}
.about-div .img-div-2{
    width: 25vw;
    height: 25vw;
    border-radius:3.5vw;
    position: absolute;
    background: url('https://images.pexels.com/photos/2224/road-people-street-smartphone.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    box-shadow:  20px 20px 60px #c1c1c1,
             -20px -20px 60px #ffffff;
    margin-top: 10vw;
    margin-left: 25vw;
}
.user-rate-div{
    margin-top: 30vw;
}
.user-rate-div h2{
    margin-left: 5vw;
    margin-top: 15vw;
    color: #12143F;
    font-size: 3.5vw;
    font-weight: 700;
}
.user-rate-div h4{
    color: #5383E7;
    margin-left: 5vw;
    margin-top: -2.5vw;
    position: absolute;
}
.user-rate-div p{
    margin-left: 5.5vw;
    margin-top: 2.5vw;
}
.mail-div{
    margin-top: 30vw;
}
.mail-div .col-sm-6:nth-child(2){
    margin-top: 7.5vw;
    padding-left: 5vw;
}
.mail-div h2{
    color: #12143F;
    font-size: 3.5vw;
    font-weight: 700;
    margin-top: 5vw;
}
.mail-div h4{
    position: absolute;
    color: #5383E7;
}
.mail-div p{
    margin-top: 2vw;
    margin-bottom: 2.5vw;
}
.mail-img-div{
    width: 35vw;
    height: 45vw;
    background: url('https://images.pexels.com/photos/5329529/pexels-photo-5329529.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    border-radius: 3.5vw;
    background-size: cover;
    position: absolute;
    margin-top: -2.5vw;
    margin-left: 10vw;
}
.img-quote-1{
    margin-left: 25vw;
    padding:10px;
    position: absolute;
}
.img-quote-2{
    margin-left: 7.5vw;
    margin-top: 20vw;
    position: absolute;
    padding:10px;
}
.circle-mail{
    position: absolute;
    height: 15vw;
    width: 15vw;
    background: #A1B9EA;
    margin-top: 32.5vw;
    border-radius: 100%;
    z-index: -1;
    margin-left: 32.5vw;
}
.circle-mail-1{
    position: absolute;
    height: 30vw;
    width: 30vw;
    background: #5383E7;
    margin-top: -10vw;
    border-radius: 100%;
    z-index: -1;
    margin-left: 2.5vw;
}
.mail-div .input {
    position: absolute;
    height: 5vw;
    width: 32.5vw;
    color: #A3A5B5;
    background: transparent;
    border:none;
}
.mail-div .btn{
    background:#5383E7;
    padding: 10px;
    border-radius: 10px;
    color: #eee;
    position: absolute;
    width: 10vw;
    height: 4.5vw;
    margin-top:0.25vw;
    margin-left: 22vw;
}
.input:focus{
    outline: none;
}
.swiper-container {
    margin-top: 10vw;
}
.swiper-button-prev,
.swiper-button-next{
    font-weight: 100 !important;
    color: #A3A5B5 !important;
    position: absolute;
    margin-top: -25vw !important;
}
.swiper-wrapper{
    padding-top:10vw;
}
.swiper-button-prev{
    margin-left: 75vw !important;
}
.swiper-button-next{
    margin-right: 12.5vw !important;
}
.footer-div{
    background: #F6F8FA;
    margin-top: 35vw;
    height: 65vw;
}
.footer-div h2{
    text-align: center;
    color: #12143F;
    padding-top: 5vw;
    font-weight: 800;
}
.footer-div .btn{
    margin-top: 3.5vw;
    height: 5vw;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.footer-div .btn:hover{
    transform: translateY(-5px);
}
.footer-div .btn:nth-child(1){
    background: #5383E7;
    color: #eee;
}
.footer-div .btn:nth-child(2){
    margin-left: 1.5vw;
    border: 2px solid #5383E7;
    color: #5383E7;
}
.footer-div h4{
    color :#12143F;
    letter-spacing: 1.5px;   
    font-weight: 700;
}
.footer-div .row{
    margin-top: 15vw;
}
.footer-div p{
    line-height: 2vw;
    margin-top:2.5vw;
    margin-left: 5.5vw;
    position: absolute;
}
.footer-div h5{
    color: #12143F;
    font-weight: 700;
}
.footer-div .contact-1{
    position: absolute;
    margin-left: 65vw;
    margin-top: 0.5vw;
}
.footer-div .footer-nav{
    position: absolute;
    margin-top: 0.5vw;
    margin-left: 80vw;
}
.footer-div .footer-nav .contact-ul,
.footer-div .contact-1 .contact-ul{
    list-style-type: none;
    margin-top: 1vw;
    margin-left: -2.5vw;
    position: absolute;
}
.footer-div .footer-nav .contact-ul li,
.footer-div .contact-1 .contact-ul li{
    margin-top: 1vw;
}
.footer-div hr{
    width: 85%;
    margin-top: 15vw;
    color: #6f7079;
}
.footer-div .social{
    position: absolute;
    margin-left: 75vw;
    color: #12143F;
    list-style: none;
    display: flex;
}
.footer-div .icon-social{
    position: absolute;
    margin-top: -10vw;
}
.footer-div .social li{
    margin-left: 1.5vw;
    font-size: 2vw;
    cursor: pointer;
    padding: 10px;
}
.footer-div .social li i{
    margin-left: .35vw;
}
.footer-div .social-div{
    margin-left: 5vw;
}
.circle-foot{
    background: #5383E7;
    margin-left: 1vw;
    margin-bottom: 1vw;
    border-radius: 100%;
    width: 0.1vw;
    height:0.1vw;
    padding:10px;
}
.circle-foot-container{
    height: 20vw;
    width: 22.5vw;
    transform: scale(0.5);
    position: absolute;
    margin-left: 85vw;
    margin-top: -50vw !important;
    animation: rotate 1.5s infinite ease;
    transition: all .2s ease;
}
@keyframes rotate {
    0%,100%{
        transform:  translateY(0)  scale(0.5);
    }
    50%{
        transform: translateY(-5px)  scale(0.5);
        opacity: 0.8;
    }
}
.user-card{
    width: 30vw;
    height: 30vw;
    margin-right: 5vw;
    border: none;
    border-radius: 2.5vw;
    background: #eee;
    backdrop-filter: saturation(100%) blur(10px);
}
.user-card h2{
    font-size: 2.5vw;
    font-weight: 500;
    position: absolute;
    margin-top: 3.2vw;
    margin-left:  9.5vw;
}
.user-card h5{
    margin-left: 10vw;
    margin-top: 6.5vw;
    font-size:1vw;
    position: absolute;
}
.user-card .star-div{
    margin-top: 5vw;
    margin-left: 3.5vw;
    color: #fddc1d;
}
.user-card p{
    margin-top: 2.5vw;
    margin-left: 3.5vw;
}
.user-card span{
    color: #12143F;
}
.user-card i{
    margin-left: 5px;
}
.swiper-container{
    height: 50vw;
}
@media only screen and (max-width:600px) {
    .navbar-nav{
        margin-left: 5vw;
        margin-top: 5vw;
        padding-bottom: 5vw;
    }
    .model-div .fa{
        font-size: 36px !important;
    }
    .model-div h2{
        font-size: 7.5vw;
    }
    .model-div h4{
        font-size: 5vw;
    }
    .img-div{
        display: none;
    }
    .circle{
        display: none;
    }
    .circle-cont{
        height: 30vw;
        width: 30vw;
        position: absolute;
        margin-left: 75vw;
        margin-top: 35vw;
    }
    .landing-div{
        padding-bottom: 15vw;
    }
    .landing-div .landing-div-header h4{
        font-size: 2.5vw;
    }
    .landing-div .btn{
        margin-top: 47.5vw;
        height: 12.5vw;
        width: 50%;
        font-size: 18px;
    }
    .about-div .col-sm-7{
        margin-top: 85vw;
        margin-left: -2.5vw;
    }
    .about-div .col-sm-7 h4{
        font-size: 2.5vw;
    }
    .about-div .col-sm-7 h2{
        font-size: 5vw;
        margin-bottom: 5vw;
    }
    .about-div .col-sm-7 p,
    .about-div .col-sm-7 ul{
        font-size: 3.5vw;
    }
    .about-div .col-sm-7 ul li{
        margin-left: 5vw;
    }
    .about-div .col-sm-7 .btn{
        height: 12.5vw;
        width: 50%;
        font-size: 18px;
        padding: 10px;
    }
    .user-rate-div h2{
        font-size: 5vw;
    }
    .user-rate-div h4{
        font-size: 2.5vw;
    }
    .user-rate-div p{
        font-size: 3vw;
    }
    .swiper-container{
        height: 100vw;
    }
    .user-card{
        width: 50vw !important;
        height: 75vw !important;
        margin-left: 50vw !important;
    }
    .mail-div .col-sm-6:nth-child(1){
        display: none;
    }
    .mail-div .col-sm-6:nth-child(2){
        margin-top: 25vw;
        margin-left: 2.5vw;
    }
    .mail-div .col-sm-6:nth-child(2) h2{
        font-size: 5vw;
        margin-left: 2.5vw;
    }
    .mail-div .col-sm-6:nth-child(2) h4{
        font-size: 2.5vw;
        margin-left: 2.5vw;
    }
    .mail-div .col-sm-6:nth-child(2) p{
        font-size: 3.5vw;
        margin-left: 3vw;
    }
    .mail-div .input {
        margin-top: 5vw;
        font-size: 3.5vw;
        margin-left: 7.5vw;
    }
    .mail-div .btn{
        margin-top: 3vw;
        margin-left: 39.5vw;
        width: 25vw;
        height: 10vw;
        font-size: 3.5vw;
    }
    .footer-div{
        height: 240vw;
    }
    .footer-div .btn{
        height: 15vw;
    }
    .footer-div .circle-foot-container{
        display: none;
    }
    .footer-div .col-sm-2{
        margin-top: 10vw;
    }
    .footer-div .col-sm-4{
        margin-left: 5vw ;
    }
    .footer-div .contact-1,
    .footer-div .footer-nav{
        position: relative;
    }
    .footer-div .contact-1{
        margin-top: 25vw;
    }
    .footer-div .footer-nav{
        margin-top: 30vw;
    }
    .footer-div hr{
        margin-top: 50vw;
    }
    .footer-div .icon-social{
        padding-bottom: 5vw;
    }
    .footer-div .icon-social .social{
        margin-left: 65vw;
    }
    .footer-div .icon-social .social .fab,
    .footer-div .icon-social .social .fa{
        font-size: 3.5vw !important;
    }
    .footer-div .col-sm-2 p{
        font-size: 3.5vw;
        padding-left: 5vw !important;
        line-height: 5vw !important;
    }
    .footer-div .col-sm-2 h4{
        margin-left: -75vw !important;
    }
    .img-div-1{
        width: 30vw !important;
        height: 30vw !important;
    }
    .img-div-2{
        width: 40vw !important;
        height: 40vw !important;
        margin-left: 50vw !important;
        margin-top: 30vw !important;
    }
    .img-quote-1{
        margin-left: 42.5vw;
    }
    .img-quote-2{
        margin-top: 40vw;
        margin-left: 2.5vw;
    }
} 